[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.9.9"
botocore = "==1.12.9"
docutils = "==0.14"
google-cloud = "==0.34.0"
jmespath = "==0.9.3"
python-dateutil = "==2.7.3"
s3transfer = "==0.1.13"
six = "==1.11.0"
urllib3 = "==1.23"
google-cloud-storage = "==1.14.0"

[requires]
python_version = "3.7"
